.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
}

.text-editor {
  height: 44vw;
  display: flex;
  flex-direction: column;
}

.editor {
  width: 900px;
  height: 50%;
  margin-left: 20%;
  margin-top: 10px;
  border: 1px solid grey;
}

.text {
  text-decoration: underline;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 0.5rem;
}

.text-area {
  width: 900px;
  font-weight: 800;
  height: 40%;
  margin-left: 20%;
  border: 1px solid gray;
}
